<div class="container">
    <div style="margin-top: 50px;">
        <img src="images/bg_home/bower.png">
    </div>
    <div id="bower" style="margin-left: 60px;margin-bottom: 30px">
        <ul class="list-inline">
            <li style="width: 100px;height: 40px;background-color: #32cd32;font-size: 16px;line-height: 40px;margin-right: 10px">
                <a style="color: #FFFFFF;text-decoration: none;" href="http://rj.baidu.com/soft/detail/14917.html?ald">IE10浏览器</a></li>
            <li style="width: 100px;height: 40px;background-color: #32cd32;font-size: 16px;line-height: 40px;margin-right: 10px">
                <a style="color: #FFFFFF;text-decoration: none;" href="http://rj.baidu.com/soft/detail/14744.html?ald">谷歌浏览器</a></li>
            <li style="width: 100px;height: 40px;background-color: #32cd32;font-size: 16px;line-height: 40px;margin-right: 10px">
                <a style="color: #FFFFFF;text-decoration: none;" href="http://xiazai.zol.com.cn/detail/33/322084.shtml">360浏览器</a></li>
            <li style="width: 100px;height: 40px;background-color: #32cd32;font-size: 16px;line-height: 40px;margin-right: 10px">
                <a style="color: #FFFFFF;text-decoration: none;" href="http://rj.baidu.com/soft/detail/11843.html?ald">火狐浏览器</a></li>
            <li style="width: 100px;height: 40px;background-color: #32cd32;font-size: 16px;line-height: 40px;margin-right: 10px">
                <a style="color: #FFFFFF;text-decoration: none;" href="http://rj.baidu.com/soft/detail/14754.html?ald">搜狗浏览器</a></li>
        </ul>
    </div>
</div>
